.result {
  width: 20em;
  min-height: 10em;
  color: white;
  padding: 10px;
  border-radius: 5px;
  outline: 3px solid #7fd2ba;
}

.model-text {
  font-weight: 900;
  font-size: 20px;
}

.desc-text {
  text-align: justify;
  color: #ccf1e7;
}

.results {
  display: flex;
  gap: 20px;
  padding: 20px;
}
h2 {
  text-align: center;
  color: white;
  font-size: 30px;
}
