<nav class="navbar">

  <div class="logo">
    <h2>The untitled inverter thingy</h2>
    <p>Made with ♥ for autistic people.</p>
  </div>

 <div class="links">


@if (!authService.isLoggedIn()) {
  <div class="links">
    <a (click)="openAuth.emit('signup')">Sign Up</a>
    <a (click)="openAuth.emit('login')">Log In</a>
  </div>
}
  
@if (authService.isLoggedIn()) {
  <div class="links">
    <h3>{{ authService.getUsername() }}</h3>
    <button (click)="authService.logout()">Log out</button>
  </div>
}
  


</div>

</nav>
