.overlay {

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.5);

  display: flex;

  justify-content: center;
  align-items: center;
}

.modal {

  width: 400px;

  background: #1d2230;

  padding: 40px;

  border-radius: 30px;

  display: flex;
  flex-direction: column;

  gap: 20px;

  color: #7FD2BA;

  position: relative;

  text-align: center;
}
.close {

  position: absolute;

  top: 20px;
  right: 20px;

  background: none;
  border: none;

  color: #7FD2BA;

  cursor: pointer;
}
.close:hover{
  transition: 0.1;
  transform: scale(1.03);
}
input {

  padding: 12px;

  border-radius: 10px;

  border: 1px solid #7FD2BA;

  background: transparent;

  color: white;
}

.signup-btn {

  padding: 14px;

  border: none;

  border-radius: 12px;

  background: #7FD2BA;

  cursor: pointer;

}
.signup-btn:hover{
  transform: scale(1.03);
  transition: 0.1s;
}
.custom-link {
  color: #7FD2BA;
  cursor: pointer;
  text-decoration: none;
  font: inherit;
  text-align: center;
  
}

.custom-link:hover {
  text-decoration: underline;
}

.switch-text{
  opacity: 0.8;
  text-align: center;
}