<div class="overlay">
  <div class="modal">
    <button class="close" (click)="close.emit()">✕</button>

    <h1>
      {{ mode === 'signup' ? 'Create an account' : 'Login' }}
    </h1>
    
    <!-- <p class="message error" *ngIf="errorMessage">{{ errorMessage }}</p>
    <p class="message success" *ngIf="successMessage">{{ successMessage }}</p> -->

    <input
      type="text"
      placeholder="Username"
      [(ngModel)]="username"
      [disabled]="isLoading"
    />
    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
      [disabled]="isLoading"
    />

    <button class="signup-btn" (click)="onSubmit()" [disabled]="isLoading">
      {{ isLoading ? 'Loading...' : (mode === 'signup' ? 'Sign up' : 'Login') }}
    </button>
  </div>
</div>